.panel.panel-default
    .panel-heading Job description
    .panel-body
        h5 {{job.number}}
        h5 {{job.name}}
        h5 {{job.type}}

.panel.panel-default
    .panel-heading Pre-Production
    .panel-body
        result-timeline

