svg(xmlns="http://www.w3.org/2000/svg" version="1.1")
    //g
    //    line(x1="80%" y1="50%" x2="95%" y2="50%")
    //    circle(cx="95%" cy="50%" r="0.75em")
    //    text(x="95%" y="50%") 7
    //g
    //    line(x1="65%" y1="50%" x2="80%" y2="50%")
    //    circle(cx="80%" cy="50%" r="0.75em")
    //    text(x="80%" y="50%") 6
    //g
    //    line(x1="50%" y1="50%" x2="65%" y2="50%")
    //    circle( cx="65%" cy="50%" r="0.75em")
    //    text( x="65%" y="50%") 5
    //g
    //    line( x1="65%" y1="50%" x2="95%" y2="50%")
    //    circle( cx="95%" cy="50%" r="0.75em")
    //    text( x="95%" y="70%" ) Waiting for approval
    g
        line(x1="50%" y1="50%" x2="85%" y2="50%")
        circle(cx="85%" cy="50%" r="0.75em")
        text(x="85%" y="80%") Post Production
    g.active
        line( x1="25%" y1="50%" x2="50%" y2="50%")
        circle( cx="50%" cy="50%" r="0.75em")
        text( x="50%" y="80%") Production
    g
        line( x1="15%" y1="50%" x2="25%" y2="50%")
        circle(cx="15%" cy="50%" r="0.75em")
        text(x="15%" y="80%") Pre-Production
