.panel.panel-default
    .panel-heading Job details
    .panel-body
        h5 {{job.number}}
        h5 {{job.name}}
        h5 {{job.type}}


.row(ng-controller="ResultsCtrl")
  .col-md-4
    ul.status-list
      li(ng-repeat="status in statuses | filter:pre_production")
        {{ status.name }}
  .col-md-4
    ul.status-list
      li(ng-repeat="status in statuses | filter:production")
        {{ status.name }}
  .col-md-4
    ul.status-list
      li(ng-repeat="status in statuses | filter:post_production")
        {{ status.name }}
      //- a.list-group-item In Delivery Vehicle
      //- a.list-group-item Delivered to Site
      //- a.list-group-item Ready for Collection